@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

*{
    margin: 0;
    padding: 0;
    
}

header{
    background: rgb(58, 73, 60);
    /* background-color: rgb(72, 110, 103); */
    
    position: fixed;
    width: 100vw;
    z-index:15;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}


header > div{
     /* margin: 15px auto 15px 20px; */
    font-size: 20px;
    /* float: left; */
    font-family: cursive;
    color: white;
    
}
#header-left{
    margin: 10px auto 10px 10px;
}
#header-right{
    display: flex;
    margin-right: 10px;
   /* text-decoration: none; */
   
}

#header-right > li {
    list-style: none;
    margin: 10px 20px;
}

#header-right > li > a {
  text-decoration: none;
  color: white;
}

@media  screen and (min-width:781px) {
  #nav{
      display: none;
  }
}
@media  screen and (max-width:780px) {
  #header-right{
      display: none;
  }
  #nav{
      position: absolute;
      height: 100vh;
      width: 50%;
      right: -50%;
      top: 0;
      background: #9cc08ec0;
      transition: .7s;
    }
    #nav ul{
      padding-top: 50px;
    }
    #nav ul li{
      list-style-type: none;
      font-size: 20px;
      font-family: cursive;
    }
    #nav a{
      display: block;
      text-decoration: none;
      color: #000000;
      margin: 0 15px;
      padding: 10px;
      transition: .5s;
    
    }
    #nav li a:hover{
      color: #ffffff;
      background: #4d6354;
      border-bottom: none;
    }
    #hamburger {
      display: block;
      position: absolute;
      top: 15px;
      right: 20px;
      width: 30px;
      height: 19px;
      cursor: pointer;
      transition: 1s;
    }
    .inner_line {
      display: block;
      position: absolute;
      right: 0;
      width: 30px;
      height: 3px;
      background-color: #ffffff;
      transition: 1s;
      border-radius: 4px;
    }
    #line1 {
      top: 0;
    }
    #line2 {
      top: 8px;
    }
    #line3 {
      bottom: 0px;
    }
    
    .in{
      transform: translateX(-100%);
    }
    .line_1,.line_2,.line_3{
      background: #000000;
    }
    .line_1 {
      transform: translateY(8px) rotate(-45deg);
      top: 0;
    }
    .line_2 {
      opacity: 0;
    }
    .line_3 {
      transform: translateY(-8px) rotate(45deg);
      bottom: 0;
    }
    
}
    

.margin-of-top{
    padding-top: 60px;
    margin-right: 10px;
    margin-left: 10px;
}




    .top{
        margin: auto auto 30px 15px;
        font-size: 13px;
    }
    
    footer{
        
        background: rgb(58, 73, 60);
        height: 50px;
        
    }
